.contato {
    display: flex;
    flex-direction: column;
}

iframe {
    margin-top: 40px;
    margin-left: 40px;
}

.subtitulo {
    color: #3D3C3C;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}